.container {
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 50%;
}
.name {
  display: inline-block;
  text-align: right;
  width: 50%;
}

.ol {
  [class~="wsx--li"] {
    font-style: italic;
  }
}
